<div>
    <h2 data-translate="hackathonApp.userList.home.title">User Lists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-list.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="hackathonApp.userList.home.createLabel">
                        Create new User List
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="hackathonApp.userList.email">Email</span></th>
                    <th><span data-translate="hackathonApp.userList.password">Password</span></th>
                    <th><span data-translate="hackathonApp.userList.fullName">Full Name</span></th>
                    <th><span data-translate="hackathonApp.userList.phone">Phone</span></th>
                    <th><span data-translate="hackathonApp.userList.sex">Sex</span></th>
                    <th><span data-translate="hackathonApp.userList.companyName">Company Name</span></th>
                    <th><span data-translate="hackathonApp.userList.jobTitle">Job Title</span></th>
                    <th><span data-translate="hackathonApp.userList.logoUrl">Logo Url</span></th>
                    <th><span data-translate="hackathonApp.userList.country">Country</span></th>
                    <th><span data-translate="hackathonApp.userList.city">City</span></th>
                    <th><span data-translate="hackathonApp.userList.nationality">Nationality</span></th>
                    <th><span data-translate="hackathonApp.userList.birthday">Birthday</span></th>
                    <th><span data-translate="hackathonApp.userList.status">Status</span></th>
                    <th><span data-translate="hackathonApp.userList.userInfo">User Info</span></th>
                    <th><span data-translate="hackathonApp.userList.company">Company</span></th>
                    <th><span data-translate="hackathonApp.userList.applications">Applications</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userList in vm.userLists track by userList.id">
                    <td><a ui-sref="user-list-detail({id:userList.id})">{{userList.id}}</a></td>
                    <td>{{userList.email}}</td>
                    <td>{{userList.password}}</td>
                    <td>{{userList.fullName}}</td>
                    <td>{{userList.phone}}</td>
                    <td data-translate="{{'hackathonApp.UserSex.' + userList.sex}}">{{userList.sex}}</td>
                    <td>{{userList.companyName}}</td>
                    <td>{{userList.jobTitle}}</td>
                    <td>{{userList.logoUrl}}</td>
                    <td>{{userList.country}}</td>
                    <td>{{userList.city}}</td>
                    <td>{{userList.nationality}}</td>
                    <td>{{userList.birthday | date:'medium'}}</td>
                    <td data-translate="{{'hackathonApp.UserStatus.' + userList.status}}">{{userList.status}}</td>
                    <td>
                        <a ui-sref="user-info-detail({id:userList.userInfo.id})">{{userList.userInfo.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="company-detail({id:userList.company.id})">{{userList.company.id}}</a>
                    </td>
                    <td>
                        <span ng-repeat="applications in userList.applications">
                            <a class="form-control-static" ui-sref="application-detail({id: applications.id})">{{applications.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-list-detail({id:userList.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-list.edit({id:userList.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-list.delete({id:userList.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
