<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Home">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Welcome to challenge workspace</h1>
                    <p>{{vm.workspace.termsAndConditions}}</p>
                    <md-button class="md-primary md-raised">Ask a question</md-button>
                </md-content>
            </md-tab>
            <md-tab label="My Team">
                <md-content class="md-padding">
                    <h1 class="md-display-2">My Team</h1>
                    <p>{{vm.workspace.termsAndConditions}}</p>
                </md-content>
            </md-tab>
            <md-tab label="Feedback">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Feedback</h1>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <!-- <label data-translate="hackathonApp.challenge.introduction"></label> -->
                            <label>Feedback for Hackathon</label>
                            <textarea name="introduction" ng-model="vm.feedback.feedbackForUs" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Feedback for challenge host</label>
                            <textarea name="introduction" ng-model="vm.feedback.feedbackForChallenge" md-maxlength="1000" rows="5" md-select-on-focus
                                required></textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Public feedback</label>
                            <textarea name="introduction" ng-model="vm.feedback.publicFeedback" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <span flex="20">Not likely at all</span>
                        <md-radio-group layout="row" flex="80" ng-model="vm.feedback.rating">
                            <md-radio-button ng-repeat="rate in vm.rating" ng-value="rate" aria-label="rating" flex="8">{{rate}}
                                <span style="margin-right:20px"></span>
                            </md-radio-button>
                        </md-radio-group>
                        <span flex="20">Very likely</span>
                    </div>
                </md-content>
                <div>
                    <md-button class="md-primary md-raised" ng-click="vm.submit()">Submit</md-button>
                </div>
            </md-tab>
            <md-tab label="Terms">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Terms</h1>
                    <p>{{vm.workspace.termsAndConditions}}</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>