<md-content class="md-padding">
        <h1 class="md-display-2">Feedback</h1>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Feedback for Hackathon</label>
                <textarea name="introduction" ng-model="vm.feedback.feedbackForUs" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Feedback for challenge host</label>
                <textarea name="introduction" ng-model="vm.feedback.feedbackForChallenge" md-maxlength="1000" rows="5" md-select-on-focus
                    required></textarea>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Public feedback</label>
                <textarea name="introduction" ng-model="vm.feedback.publicFeedback" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <span flex>Not likely at all</span>
            <md-radio-group layout="row" ng-model="vm.feedback.rating">
                <md-radio-button ng-repeat="rate in vm.rating" ng-value="rate" aria-label="rating">{{rate}}
                </md-radio-button>
            </md-radio-group>
            <span flex>Very likely</span>
        </div>
    </md-content>
    <div>
        <md-button class="md-primary md-raised" ng-click="vm.submitFeedback()">Submit</md-button>
    </div>