<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="Home">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Welcome to challenge workspace</h1>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="q in vm.news">
                            <div class="md-list-item-text">
                                <h3>{{q.title}}</h3>
                                <p>{{q.content}}</p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <md-button class="md-primary md-raised" ng-click="vm.showAskForm()">Ask a question</md-button>
                </md-content>
                <form ng-show="vm.askFormTrigged" class="md-padding" flex="50">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Subject</label>
                            <input ng-model="vm.question.subject" required/>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Content</label>
                            <textarea ng-model="vm.question.content" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                        </md-input-container>
                    </div>
                    <md-button class="md-primary md-raised" ng-click="vm.submitQuestion()">Submit</md-button>
                </form>
            </md-tab>



            <!-- <md-tab label="My Team">
                <md-content class="md-padding">
                    <h1 class="md-display-2">My Team</h1>
                    <p>{{vm.workspace.termsAndConditions}}</p>
                </md-content>
            </md-tab> -->

            <md-tab label="My Question">
                <md-content class="md-padding">
                    <div class="panel-group" ng-repeat="q in vm.questions">
                        <div class="row panel-heading">
                            <div class="col-md-10">
                                <h4 ng-if="!q.isAnswered" class="panel-title w3-text-black">
                                    {{q.subject}}
                                </h4>
                                <h4 ng-if="q.isAnswered" class="panel-title w3-text-grey">
                                    {{q.subject}}
                                </h4>
                                <p>{{q.content}}</p>
                                <p class="label label-primary">{{q.totalcmt}} reply</p>
                            </div>
                            <div class="col-md-2">
                                <md-checkbox ng-model="q.click">Show Answers</md-checkbox>
                            </div>
                        </div>
                        <div ng-show="q.click" style="margin-left:10%">
                            <div ng-repeat="ans in q.answers">
                                <span ng-if="ans.answerByType == 'BY_HOST'" class="label label-primary">Host</span>
                                <span ng-if="ans.answerByType == 'BY_USER'" class="label w3-grey">User</span>
                                {{ans.content}}
                                <hr>
                            </div>
                            <div>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Type answer here</label>
                                    <textarea name="answer" ng-model="vm.answer.content" md-maxlength="1000" rows="3" md-select-on-focus></textarea>
                                </md-input-container>
                                <md-button class="md-primary md-raised" ng-click="vm.postAnswer(q.id)">Reply</md-button>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="Submission">
                <md-content class="md-padding">
                    <button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="*" ngf-max-height="1000" ngf-max-size="3000MB">
                        Select File</button>
                    <br>
                    <br> File:
                    <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                        <md-progress-linear md-mode="determinate" value="{{f.progress}}"></md-progress-linear>
                        <span class="progress" ng-show="f.progress >= 0">
                            <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                        </span>
                        {{errorMsg}}
                    </div>
                </md-content>
            </md-tab>


            <md-tab label="Feedback">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Feedback</h1>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Feedback for Hackathon</label>
                            <textarea name="introduction" ng-model="vm.feedback.feedbackForUs" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Feedback for challenge host</label>
                            <textarea name="introduction" ng-model="vm.feedback.feedbackForChallenge" md-maxlength="1000" rows="5" md-select-on-focus
                                required></textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Public feedback</label>
                            <textarea name="introduction" ng-model="vm.feedback.publicFeedback" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <span flex="20">Not likely at all</span>
                        <md-radio-group layout="row" flex="60" ng-model="vm.feedback.rating">
                            <md-radio-button ng-repeat="rate in vm.rating" ng-value="rate" aria-label="rating">{{rate}}
                            </md-radio-button>
                        </md-radio-group>
                        <span flex="20">Very likely</span>
                    </div>
                </md-content>
                <div>
                    <md-button class="md-primary md-raised" ng-click="vm.submitFeedback()">Submit</md-button>
                </div>
            </md-tab>

            <md-tab label="Terms">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Terms</h1>
                    <p>{{vm.workspace.termsAndConditions}}</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>