<!-- Search & Filter challenges -->
<div layout="row" layout-padding>
    <div layout="row" flex="30">
        <md-input-container flex-gt-sm="50">
            <label>
                <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                <span data-translate="hackathonApp.filter.startDate"></span>
            </label>
            <md-datepicker id="datepicker" md-hide-icons="all" md-open-on-focus ng-model="vm.challengeSearch.eventStartTime" ng-change="vm.querySearchName()"></md-datepicker>
        </md-input-container>
        <md-input-container flex-gt-sm="50">
            <label>
                <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                <span data-translate="hackathonApp.filter.endDate"></span>
            </label>
            <md-datepicker id="datepicker" md-hide-icons="all" md-open-on-focus ng-model="vm.challengeSearch.eventEndTime" ng-change="vm.querySearchName()"></md-datepicker>
        </md-input-container>
    </div>
    <div layout="row" flex="50">
        <md-input-container class="md-block" flex-gt-sm="100">
            <label>
                <span class="glyphicon glyphicon-search"></span>&nbsp;
                <span data-translate="hackathonApp.filter.search"></span>
            </label>
            <input ng-model="vm.challengeSearch.name" ng-change="vm.querySearchName()" ng-model-options="{ debounce: 500 }" style="color:black !important;">
        </md-input-container>
    </div>
    <div layout="row" flex="10">
        <md-input-container class="md-block" flex-gt-sm="100">
            <label data-translate="hackathonApp.filter.status"></label>
            <md-select ng-model="vm.challengeSearch.status" ng-change="vm.querySearchName()">
                <md-option ng-value="status" ng-repeat="status in vm.allStatus">{{status}}</md-option>
            </md-select>
        </md-input-container>

    </div>
    <div layout="row" flex="10" layout-align="center center">
        <md-button ui-sref="challenge-manager.new" class="md-fab md-primary w3-green" title="Create a new challenge" aria-label="New Challenge">
            <md-icon md-svg-src="content/images/svg/add.svg"></md-icon>
        </md-button>
    </div>
</div>

<hr>
<!-- No challenge -->
<div class="row" ng-if="vm.hasNoChallenge" class="text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <uib-alert type="warning">
            <span data-translate="hackathonApp.messages.empty"></span>
            <a ui-sref="challenge-manager.new" data-translate="hackathonApp.messages.create">
            </a>
        </uib-alert>
        <div>
            <img src='content/images/default/no-challenge.png' class="img img-responsive">
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<!-- Challenge cards -->
<div class="row" layout-padding>
    <div class="col-md-4 col-sm-6 col-xs-12 repeated-item" ng-repeat="challenge in vm.challenges" infinite-scroll="vm.loadPage(vm.page + 1)"
        infinite-scroll-disabled="vm.page >= vm.links['last']">
        <md-card class="challenge-card" ng-switch="challenge.info.status">
            <!-- Display ribbon -->
            <!-- <div ng-switch-when="ACTIVE" class="ribbon-wrapper">
                <div class="ribbon-green" data-translate="hackathonApp.card.active"></div>
            </div>
            <div ng-switch-when="DRAFT" class="ribbon-wrapper">
                <div class="ribbon-brown" data-translate="hackathonApp.card.draft"></div>
            </div>
            <div ng-switch-when="INACTIVE" class="ribbon-wrapper">
                <div class="ribbon-grey" data-translate="hackathonApp.card.inactive"></div>
            </div>

            <div ng-switch-when="CLOSED" class="ribbon-wrapper">
                <div class="ribbon-grey" data-translate="hackathonApp.card.closed"></div>
            </div> -->
            <!-- Display cover -->
            <img ng-switch-when="ACTIVE" ui-sref="challenge-manager-detail({id:challenge.id})" ng-src="{{challenge.bannerUrl64 ? challenge.bannerUrl64 : '/content/images/svg/index.square-circle-preloader.svg'}}"
                class="md-card-image" alt="">
            <img ng-switch-when="DRAFT" ui-sref="challenge-manager-detail({id:challenge.id})" ng-src="{{challenge.bannerUrl64 ? challenge.bannerUrl64 : '/content/images/svg/index.square-circle-preloader.svg'}}"
                class="md-card-image img-blur" alt="">
            <img ng-switch-when="INACTIVE" ui-sref="challenge-manager-detail({id:challenge.id})" ng-src="{{challenge.bannerUrl64 ? challenge.bannerUrl64 : '/content/images/svg/index.square-circle-preloader.svg'}}"
                class="md-card-image img-grey" alt="">

            <img ng-switch-when="CLOSED" ui-sref="challenge-manager-detail({id:challenge.id})" ng-src="{{challenge.bannerUrl64 ? challenge.bannerUrl64 : '/content/images/svg/index.square-circle-preloader.svg'}}"
                class="md-card-image img-grey" alt="">
            <!-- Challenge info -->
            <md-card-title ng-switch-when="ACTIVE" class="w3-green">
                <md-card-title-text>
                    <span ui-sref="challenge-manager-detail({id:challenge.id})" class="md-headline">
                        <strong>{{challenge.name}}</strong>
                    </span>
                </md-card-title-text>
            </md-card-title>

            <md-card-title ng-switch-when="DRAFT" class="w3-brown">
                <md-card-title-text>
                    <span ui-sref="challenge-manager-detail({id:challenge.id})" class="md-headline">
                        <strong>{{challenge.name}}</strong>
                    </span>
                </md-card-title-text>
            </md-card-title>

            <md-card-title ng-switch-when="INACTIVE" class="w3-grey">
                <md-card-title-text>
                    <span ui-sref="challenge-manager-detail({id:challenge.id})" class="md-headline">
                        <strong>{{challenge.name}}</strong>
                    </span>
                </md-card-title-text>
            </md-card-title>

            <md-card-title ng-switch-when="CLOSED" class="w3-grey">
                <md-card-title-text>
                    <span ui-sref="challenge-manager-detail({id:challenge.id})" class="md-headline">
                        <strong>{{challenge.name}}</strong>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <!-- Border -->
            <div class="w3-border-top w3-border-light-grey"></div>

            <md-card-content class="challenge-content" ui-sref="challenge-manager-detail({id:challenge.id})">
                <md-list ng-switch="challenge.info.status">
                    <md-list-item>
                        <i class="challenge-icon material-icons w3-text-indigo">date_range</i> {{challenge.info.eventStartTime | date:'MMM dd, yyyy'}} - {{challenge.info.eventEndTime
                        | date:'MMM dd, yyyy'}}
                    </md-list-item>
                    <md-list-item>
                        <i class="challenge-icon material-icons w3-text-red">pin_drop</i>{{challenge.info.location}}
                    </md-list-item>

                    <md-list-item>
                        <span class="list-item">
                            <i class="material-icons challenge-icon w3-text-indigo">stars</i>
                            <span>{{challenge.info.prize}}</span>
                        </span>
                    </md-list-item>
                    <md-list-item ng-switch-when="ACTIVE">
                        <i class="challenge-icon material-icons w3-text-orange">alarm</i>
                        <!-- <span data-translate="hackathonApp.card.appTime"></span> -->
                        <timer end-time="challenge.timeLeft">
                            <span data-translate="hackathonApp.card.appTime" translate-values="{days: '{{days}}', hours: '{{hours}}',  minutes: '{{minutes}}', seconds: '{{seconds}}'}"></span>
                        </timer>

                    </md-list-item>
                    <md-list-item ng-switch-when="DRAFT">
                        <i class="challenge-icon material-icons w3-text-khaki">vpn_key</i>
                        <span data-translate="hackathonApp.card.activationRequired"></span>
                    </md-list-item>
                    <md-list-item ng-switch-when="INACTIVE">
                        <i class="challenge-icon material-icons w3-text-red">alarm_off</i>
                        <span data-translate="hackathonApp.card.appClosed"></span>
                    </md-list-item>

                    <md-list-item ng-switch-when="CLOSED">
                        <i class="challenge-icon material-icons w3-text-red">close</i>
                        <span data-translate="hackathonApp.card.eventEnded"></span>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <!-- Border -->
            <div class="w3-border-top w3-border-light-grey"></div>

            <!-- Actions -->
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="w3-border" ui-sref="applicationslist({id:challenge.id})">
                    <b data-translate="hackathonApp.card.seeApp"></b>
                </md-button>
                <span flex></span>
                <md-button ui-sref="challenge-manager.delete({id:challenge.id})" class="md-fab md-mini md-hue-3" title="Delete" aria-label="Delete">
                    <span class="glyphicon glyphicon-remove"></span>
                </md-button>
                <md-button ui-sref="challenge-manager.edit({id:challenge.id})" class="md-fab md-mini md-warn" title="Edit" aria-label="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>