<md-dialog aria-label="Create a Challenge">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 data-translate="hackathonApp.challenge.home.createOrEditLabel"></h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="close" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-remove"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="challenge-dialog">
        <jhi-alert-error></jhi-alert-error>
        <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
            <md-tab label="{{'hackathonApp.challenge.home.basic' | translate}}">
                <md-content class="md-padding md-inline-form">
                    <form name="challengeInfoForm">

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                    <span data-translate="hackathonApp.challengeInfo.applicationCloseDate"></span>
                                </label>
                                <md-datepicker id="datepicker" md-min-date="vm.minDate" md-hide-icons="all" md-open-on-focus name="applicationCloseDate"
                                    ng-model="vm.challengeInfo.applicationCloseDate" required></md-datepicker>
                                <div ng-messages="challengeInfoForm.applicationCloseDate.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.applicationCloseDate.required"></div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                    <span data-translate="hackathonApp.challengeInfo.selectionInformDate"></span>
                                </label>
                                <md-datepicker id="datepicker" md-min-date="vm.challengeInfo.applicationCloseDate" ng-disabled="!vm.challengeInfo.applicationCloseDate"
                                    md-hide-icons="all" md-open-on-focus name="selectionInformDate" ng-model="vm.challengeInfo.selectionInformDate"
                                    required></md-datepicker>
                                <div ng-messages="challengeInfoForm.selectionInformDate.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.selectionInformDate.required"></div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                    <span data-translate="hackathonApp.challengeInfo.kickoffWebinarDate"></span>
                                </label>
                                <md-datepicker id="datepicker" md-min-date="vm.challengeInfo.selectionInformDate" ng-disabled="!vm.challengeInfo.selectionInformDate"
                                    md-hide-icons="all" md-open-on-focus name="kickoffWebinarDate" ng-model="vm.challengeInfo.kickoffWebinarDate"
                                    required></md-datepicker>

                                <div ng-messages="challengeInfoForm.kickoffWebinarDate.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.kickoffWebinarDate.required"></div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                    <span data-translate="hackathonApp.challengeInfo.eventStartTime"></span>
                                </label>
                                <md-datepicker id="datepicker" md-min-date="vm.challengeInfo.kickoffWebinarDate" ng-disabled="!vm.challengeInfo.kickoffWebinarDate"
                                    md-hide-icons="all" md-open-on-focus name="eventStartTime" ng-model="vm.challengeInfo.eventStartTime"
                                    required></md-datepicker>
                                <div ng-messages="challengeInfoForm.eventStartTime.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.eventStartTime.required"></div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                    <span data-translate="hackathonApp.challengeInfo.eventEndTime"></span>
                                </label>
                                <md-datepicker id="datepicker" md-min-date="vm.challengeInfo.eventStartTime" ng-disabled="!vm.challengeInfo.eventStartTime"
                                    md-hide-icons="all" md-open-on-focus name="eventEndTime" ng-model="vm.challengeInfo.eventEndTime"
                                    required></md-datepicker>
                                <div ng-messages="challengeInfoForm.eventEndTime.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.eventEndTime.required"></div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                    <span data-translate="hackathonApp.challengeInfo.pilotSubmissionCloseDate"></span>
                                </label>
                                <md-datepicker id="datepicker" md-min-date="vm.challengeInfo.eventStartTime" md-max-date="vm.challengeInfo.eventEndTime"  ng-disabled="!vm.challengeInfo.eventEndTime"
                                    md-hide-icons="all" md-open-on-focus name="pilotSubmissionCloseDate" ng-model="vm.challengeInfo.pilotSubmissionCloseDate"></md-datepicker>
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                    <span data-translate="hackathonApp.challengeInfo.pilotPhaseStartDate"></span>
                                </label>
                                <md-datepicker id="datepicker" md-min-date="vm.challengeInfo.eventEndTime" ng-disabled="!vm.challengeInfo.pilotSubmissionCloseDate"
                                    md-hide-icons="all" md-open-on-focus name="pilotPhaseStartDate" ng-model="vm.challengeInfo.pilotPhaseStartDate"></md-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                    <span data-translate="hackathonApp.challengeInfo.pilotPhaseEndDate"></span>
                                </label>
                                <md-datepicker id="datepicker" md-min-date="vm.challengeInfo.pilotPhaseStartDate" ng-disabled="!vm.challengeInfo.pilotPhaseStartDate"
                                    md-hide-icons="all" md-open-on-focus name="pilotPhaseEndDate" ng-model="vm.challengeInfo.pilotPhaseEndDate"></md-datepicker>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    <span class="glyphicon glyphicon-screenshot"></span>&nbsp;
                                    <span data-translate="hackathonApp.challengeInfo.location"></span>
                                </label>
                                <input name="location" ng-model="vm.challengeInfo.location" required>
                                <div ng-messages="challengeInfoForm.location.$error" role="alert">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.location.required"></div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    <span class="glyphicon glyphicon-usd"></span>&nbsp;
                                    <span data-translate="hackathonApp.challengeInfo.prize"></span>
                                </label>
                                <input name="prize" ng-model="vm.challengeInfo.prize" required/>
                                <div ng-messages="challengeInfoForm.prize.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.prize.required"></div>
                                </div>
                            </md-input-container>
                        </div>

                        <div class="row">
                            <md-radio-group ng-model="vm.challengeInfo.status" required>
                                <div class="col-md-4">
                                    <md-radio-button value="DRAFT">
                                        <span data-translate="hackathonApp.challengeInfo.status.draft"></span>
                                    </md-radio-button>
                                </div>

                                <div class="col-md-4">
                                    <md-radio-button value="ACTIVE">
                                        <span data-translate="hackathonApp.challengeInfo.status.active"></span>
                                    </md-radio-button>
                                </div>

                                <div class="col-md-4">
                                    <md-radio-button value="INACTIVE">
                                        <span data-translate="hackathonApp.challengeInfo.status.inactive"></span>
                                    </md-radio-button>
                                </div>
                                
                            </md-radio-group>
                        </div>
                    </form>
                </md-content>
            </md-tab>
<!-- DETAIL -->
            <md-tab label="{{'hackathonApp.challenge.home.detail' | translate}}">
                <md-content class="md-padding">
                    <form name="challengeForm">
                        <label data-translate="hackathonApp.challenge.bannerUrl"></label>
                        <input type="file" ng-model="vm.banner" name="banner" base-sixty-four-input ng-maxSize="3000" accept="image/*">
                        <div ng-messages="challengeForm.banner.$invalid" role="alert">
                            <div ng-message="maxSize" data-translate="hackathonApp.messages.validate.name.required"></div>
                        </div>
                        <br>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label data-translate="hackathonApp.challenge.name"></label>
                                <input name="name" ng-model="vm.challenge.name" required>
                                <div ng-messages="challengeForm.name.$error" role="alert">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.name.required"></div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label data-translate="hackathonApp.challenge.minTeamNumber"></label>
                                <input min="1" max="{{vm.challenge.maxTeamNumber}}" name="minTeamNumber" type="number" ng-model="vm.challenge.minTeamNumber"
                                    required/>
                                <div ng-messages="challengeForm.minTeamNumber.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.minTeamNumber.required"></div>
                                    <div ng-message="min" data-translate="hackathonApp.messages.validate.minTeamNumber.min"></div>
                                    <div ng-message="max" data-translate="hackathonApp.messages.validate.minTeamNumber.max"></div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label data-translate="hackathonApp.challenge.maxTeamNumber"></label>
                                <input min="{{vm.challenge.minTeamNumber}}" max="100" name="maxTeamNumber" type="number" ng-model="vm.challenge.maxTeamNumber"
                                    required/>
                                <div ng-messages="challengeForm.maxTeamNumber.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.maxTeamNumber.required"></div>
                                    <div ng-message="min" data-translate="hackathonApp.messages.validate.maxTeamNumber.min"></div>
                                    <div ng-message="max" data-translate="hackathonApp.messages.validate.maxTeamNumber.max"></div>
                                </div>
                            </md-input-container>

                        </div>


                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label data-translate="hackathonApp.challenge.introduction"></label>
                                <textarea name="introduction" ng-model="vm.challenge.introduction" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                                <div ng-messages="challengeForm.introduction.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.introduction.required"></div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label data-translate="hackathonApp.challenge.challengeText"></label>
                                <textarea name="challengeText" ng-model="vm.challenge.challengeText" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                                <div ng-messages="challengeForm.challengeText.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.challengeText.required"></div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label data-translate="hackathonApp.challenge.resourceText"></label>
                                <textarea name="resourceText" ng-model="vm.challenge.resourceText" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                                <div ng-messages="challengeForm.resourceText.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.resourceText.required"></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label data-translate="hackathonApp.challenge.rewardsText"></label>
                                <textarea name="rewardsText" ng-model="vm.challenge.rewardsText" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                                <div ng-messages="challengeForm.rewardsText.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.rewardsText.required"></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label data-translate="hackathonApp.challenge.timelineText"></label>
                                <textarea name="timelineText" ng-model="vm.challenge.timelineText" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                                <div ng-messages="challengeForm.timelineText.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.timelineText.required"></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label data-translate="hackathonApp.challenge.rulesText"></label>
                                <textarea name="rulesText" ng-model="vm.challenge.rulesText" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                                <div ng-messages="challengeForm.rulesText.$error">
                                    <div ng-message="required" data-translate="hackathonApp.messages.validate.rulesText.required"></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label data-translate="hackathonApp.challenge.additionalText"></label>
                                <textarea name="introduction" ng-model="vm.challenge.additionalText" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                    </form>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button type="button" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span data-translate="entity.action.cancel"></span>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="vm.save()" ng-disabled="challengeForm.$invalid || challengeInfoForm.$invalid || vm.isMinMaxInvalid(vm.challenge.minTeamNumber, vm.challenge.maxTeamNumber)">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span data-translate="entity.action.save"></span>
        </md-button>
    </md-dialog-actions>
</md-dialog>