<div class="row text-center" ng-cloak>
    <div class="col-md-3 md-padding">
        <div>
            <button ng-click="vm.filter('all')" class="btn btn-sm w3-red">All</button>
            <button ng-click="vm.filter('active')" class="btn btn-sm w3-green">Active</button>
            <button ng-click="vm.filter('draft')" class="btn btn-sm w3-brown">Draft</button>
            <button ng-click="vm.filter('closed')" class="btn btn-sm w3-grey">Closed</button>
        </div>
    </div>
    <div class="col-md-6">
        <md-content class="md-padding">
            <form ng-submit="$event.preventDefault()">
                <md-autocomplete md-selected-item="vm.selectedItem" md-search-text-change="vm.searchTextChange(vm.searchText)" md-search-text="vm.searchText"
                    md-selected-item-change="vm.selectedItemChange(item)" md-items="item in vm.challenges | filter: vm.searchText"
                    md-item-text="item.name || item.company" placeholder="{{'hackathonApp.search.placeHolder' | translate}}">
                    <md-item-template>
                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}} - </span>
                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.company.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        <span data-translate="hackathonApp.search.noResult">No result were found.</span>
                    </md-not-found>
                </md-autocomplete>
            </form>
        </md-content>
    </div>
    <div class="col-md-3">
        <md-button ui-sref="challenge-manager.new" class="md-fab md-primary w3-green" title="Create a new challenge" aria-label="New Challenge">
            <md-icon md-svg-src="content/images/svg/add.svg"></md-icon>
        </md-button>
    </div>
</div>

<hr>

<div class="row" ng-cloak>
    <div class="row" ng-if="vm.hasNoChallenge" class="text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <uib-alert type="warning"><span data-translate="hackathonApp.messages.empty">Haven't got any challenges? </span><a ui-sref="challenge-manager.new"
                    data-translate="hackathonApp.messages.create"><strong>Create one!</strong></a></uib-alert>
            <div>
                <img src='content/images/run.png' class="img img-responsive">
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="challenge in vm.displayChallenges | filter: vm.searchText">
        <md-card class="challenge-card" ng-switch="challenge.info.status">

            <div ng-switch-when="ACTIVE" class="ribbon-wrapper">
                <div class="ribbon-green">Active</div>
            </div>

            <div ng-switch-when="DRAFT" class="ribbon-wrapper">
                <div class="ribbon-brown">Draft</div>
            </div>

            <div ng-switch-when="CLOSED" class="ribbon-wrapper">
                <div class="ribbon-grey">Closed</div>
            </div>
            <img ui-sref="challenge-manager-detail({id:challenge.id})" ng-src="{{challenge.bannerUrl}}" ng-class="{'img-grey': challenge.info.status == 'CLOSED', 'img-blur': challenge.info.status == 'DRAFT'}"
                class="md-card-image" alt="">

            <md-card-title ng-class="{'w3-green': challenge.info.status == 'ACTIVE', 'w3-grey': challenge.info.status == 'CLOSED', 'w3-brown': challenge.info.status=='DRAFT'}">
                <md-card-title-text>
                    <span ui-sref="challenge-manager-detail({id:challenge.id})" class="md-headline"><strong>{{challenge.name}}</strong></span>
                </md-card-title-text>
            </md-card-title>
            <div class="w3-border-top w3-border-light-grey"></div>
            <md-card-content class="challenge-content" ui-sref="challenge-manager-detail({id:challenge.id})">
                <md-list>
                    <md-list-item><i class="material-icons w3-text-red">pin_drop</i>{{challenge.info.location}}</md-list-item>
                    <md-list-item><i class="material-icons w3-text-indigo">date_range</i> {{challenge.info.eventStartTime | date:'MMM dd,
                        yyyy'}} - {{challenge.info.eventEndTime | date:'MMM dd, yyyy'}}</md-list-item>
                    <md-list-item ng-if="challenge.info.status == 'ACTIVE'"><i class="material-icons w3-text-orange">alarm</i>Apply in {{challenge.timeLeft}} day(s)</md-list-item>
                    <md-list-item ng-if="challenge.info.status == 'DRAFT'"><i class="material-icons w3-text-khaki">vpn_key</i>Activation required</md-list-item>
                    <md-list-item ng-if="challenge.info.status == 'CLOSED'"><i class="material-icons w3-text-red">close</i>Application has closed</md-list-item>

                </md-list>
            </md-card-content>
            <div class="w3-border-top w3-border-light-grey"></div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="w3-border" ui-sref="applicationslist"><b>See Applications</b></md-button>
                <span flex></span>
                <md-button ui-sref="challenge-manager.delete({id:challenge.id})" class="md-fab md-mini md-hue-3" title="Delete" aria-label="Delete">
                    <span class="glyphicon glyphicon-remove"></span>
                </md-button>
                <md-button ui-sref="challenge-manager.edit({id:challenge.id})" class="md-fab md-mini md-warn" title="Edit" aria-label="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </md-button>
                <!-- <md-button ui-sref="challenge-manager-detail({id:challenge.id})" class="md-fab md-mini md-primary" title="Detail" aria-label="Detail">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </md-button> -->
            </md-card-actions>
        </md-card>
    </div>
</div>