<section class="login-signup-wrapper">
  <div class="login-header">
    <h1>Login or sign up</h1>
    <p>Welcome to Lifesup Hackathon!</p>
      <div class="alert alert-success" ng-show="vm.success" data-translate="register.messages.success">
          <strong>Registration saved!</strong> Please check your email for confirmation.
      </div>
      <div class="alert alert-danger" ng-show="vm.error" data-translate="register.messages.error.fail">
          <strong>Registration failed!</strong> Please try again later.
      </div>
      <div class="alert alert-danger" ng-show="vm.errorUserExists" data-translate="register.messages.error.userexists">
          <strong>Login name already registered!</strong> Please choose another one.
      </div>
      <div class="alert alert-danger" ng-show="vm.errorEmailExists" data-translate="register.messages.error.emailexists">
          <strong>E-mail is already in use!</strong> Please choose another one.
      </div>
      <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
      </div>
    <hr>
  </div>

  <div id="form-wrapper" class="row">

    <!-- Signup form -->
    <div class="signup-form-wrapper col-md-6 col-lg-6">
      <form name="signup-form" role="form" id='signup-form' ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()" show-validation>
        <div class="form-heading">
          <h3>Start by creating your account</h3>
        </div>
        <!-- Full name -->
        <div class="form-group">
          <label for="fullName" data-translate="global.form.fullname">Full name*</label>
          <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" ng-model="vm.registerAccount.fullName" ng-minlength=1 ng-maxlength=50 required>
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="signup-email" data-translate="global.form.email">Email*</label>
          <input type="email" class="form-control" id="signup-email" name="email" placeholder="Enter email" ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="signup-password">Password*</label>
          <input type="password" class="form-control" id="signup-password" placeholder="Password" name="password" ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
          <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
        </div>
        <!-- Confirm password -->
        <div class="form-group">
          <label for="password-confirm">Password again*</label>
          <input type="password" class="form-control" id="password-confirm" name="password-confirm" placeholder="Password again" ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
        </div>
        <div>
          <p>By creating an account you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Privace Policy</a></p>
        </div>
        <button type="submit" class="btn btn-success btn-block">Create account</button>
      </form>
    </div>

    <!-- Login Form -->
    <div class="login-form-wrapper ml-auto col-md-6 col-lg-6">
        <div class="alert alert-danger" ng-show="vm.authenticationError">
            <strong>Failed to sign in!</strong> Please check your credentials and try again.
        </div>
      <form name="login-form" role="form" id='login-form' ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.login($event)" show-validation >
        <div class="form-heading">
          <h3>Login with existing account</h3>
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="login-email">Email</label>
          <input type="email" class="form-control" id="login-email" placeholder="Enter email" ng-model="vm.email">
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="login-password">Password</label>
          <input type="password" class="form-control" id="login-password" placeholder="Password" ng-model="vm.password">
        </div>
        <div class="alert alert-warning forgot-password">
              <a class="alert-link" href="" ng-click="vm.requestResetPassword()">Forgot password?</a>
          </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</section>

