 <!-- challenge filter by name and owner's name -->
 <div class="row">
  <md-content class="md-padding col-sm-12 col-md-5 col-lg-5">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          md-selected-item="vm.selectedItem"
          md-search-text-change="vm.searchTextChange(vm.searchText)"
          md-search-text="vm.searchText"
          md-selected-item-change="vm.selectedItemChange(item)"
          md-items="item in vm.challenges | filter: vm.searchText"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="What is your favorite challenge/company?">
          <md-item-template>
            <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}} - </span>
            <span md-highlight-text="vm.searchText" md-highlight-flags = "^i">{{item.company.name}}</span>
          </md-item-template>
      </md-autocomplete>
    </form>
  </md-content>
<!-- challenge filter by status-->
  <div class="md-padding col-sm-12 col-md-4 col-lg-4 status-filter">
    <div ng-repeat="status in vm.getStatus()">
        <md-checkbox type="checkbox" ng-model="vm.filter[status]" class="status-checkbox">{{ status }}</md-checkbox>
    </div>
  </div>
<!-- challenge filter by date-->
  <div class="md-padding date-filter col-sm-12 col-md-3 col-lg-3">
    <md-datepicker ng-model="vm.startDate" md-open-on-focus md-placeholder="Start before" md-hide-icons="all" class="date-picker-filter" required></md-datepicker>
    <md-datepicker ng-model="vm.endDate" md-open-on-focus md-placeholder="End after" md-hide-icons="all" class="date-picker-filter" required></md-datepicker>
  </div>
</div>
<hr />


<div class="row">
  <div class="col-sm-12 col-md-4" ng-repeat="challenge in vm.challenges | filter: vm.searchText | filter: vm.filterByStatus | filter: vm.filterByStartDate | filter: vm.filterByEndDate">
    <md-card class="challenge-container">
      <img md-card-image ng-src="{{challenge.bannerUrl}}" class='challenge-banner' ui-sref="challengeslist-detail({id:challenge.id})" ng-class="{'img-grey': vm.getApplicationStatus(challenge) == 'CLOSED'}">
        <md-card-title class='challenge-title'>{{challenge.name}}</md-card-title>
        <md-card-subtitle class='challenge-owner'>{{company.name}}</md-card-subtitle>
        <div class="line"></div>
        <md-card-content class='challenge-content'>
          <md-list>
            <md-list-item>
              <span class="list-item"><i class="material-icons challenge-icon">place</i><span>{{challenge.info.location}}</span></span>
            </md-list-item>
            <md-list-item>
              <span class="list-item"><i class="material-icons challenge-icon">stars</i><span>{{challenge.info.prize}}</span></span>
            </md-list-item>
            <md-list-item>
              <span ng-show="challenge.timeLeft > 0" class="list-item"><i class="material-icons challenge-icon">alarm</i><span>Apply in {{challenge.timeLeft}} day(s)</span></span>
              <span ng-if="challenge.timeLeft === 0" class="list-item"><i class="material-icons challenge-icon">alarm</i><span>Deadline Today!</span></span>
            </md-list-item>
          </md-list>
        </md-card-content>
        <md-card-actions ng-switch="vm.getApplicationStatus(challenge)">
          <button class="btn btn-block challenge-cta btn-active" ng-switch-when="ACTIVE" ng-switch="vm.isAuthenticated()">
            <a href="#" ui-sref="login-signup" ng-switch-when="false">Apply now!</a>
            <a href="#" ui-sref="complete-profile({id: challenge.id})" ng-switch-when="true">Apply now!</a>
          </button>
          <button class="btn btn-block challenge-cta btn-applied" ng-click="vm.getApplicationId(challenge.id)" ui-sref="applicationslist-detail({id:vm.applicationId})" ng-switch-when="APPLIED"><a href="#">View your application</a></button>
          <button class="btn btn-block challenge-cta btn-inactive" ng-switch-when="CLOSED"><a href="#">Applications have closed!</a></button>
        </md-card-actions>
    </md-card>
  </div>
</div>
