<div class="row">
    <div layout="column">
        <md-content layout-padding>
            <form name="applicationForm">
                <div layout-gt-sm="row" flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Team Name</label>
                        <input name="teamName" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Company (Optional)</label>
                        <input name="teamName">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row" flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Description</label>
                        <textarea md-maxlength="1000" ng-model="vm.application.motivation" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row" flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Motivation</label>
                        <textarea md-maxlength="1000" ng-model="vm.application.motivation" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row" flex>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Ideas Description</label>
                        <textarea md-maxlength="1000" ng-model="vm.application.motivation" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </form>
        </md-content>
    </div>
</div>

<div class="row" ng-cloak>
    <div class="text-center">
        <md-button class="md-raised md-primary" ng-click="vm.save()" ng-disabled="applicationForm.$invalid">Next</md-button>
    </div>
</div>