<div ng-hide="vm.application.status === 'CLOSED'" ng-class="{rejected:vm.application.status === 'REJECTED'}">
	<div class="rejected-stamp">
		<div class="application-heading jumbotron-fluid">
			<h1>{{vm.application.teamName}}</h1>
			<h3>{{vm.application.companyName}}</h3>
		</div>

		<div class="row content-wrapper">
			<div class="team-info col-md-8 col-xs-12">
				<div class="card-wrapper">
					<br>
					<div class="text-center alert alert-success" ng-if="vm.application.status == 'APPROVED'">
						<strong>Congratulation!</strong> Your application has been approved.
					</div>
					<!--======== member card ============-->
					<div class="member-wrapper horizontal-card row" ng-repeat="member in vm.members">
						<div ng-if="member.id">
							<div class="member-avatar col-md-2 col-xs-12">
								<img ng-if="member.logoUrl" ng-src="{{member.logoUrl}}" width="100" height="100">
								<img ng-if="!member.logoUrl" ng-src="content/images/default/no_avatar.png" width="100" height="100">
							</div>
							<div class="member-info col-md-3 col-xs-12">
								<p>
									<strong>{{member.firstName}}</strong>
								</p>
								<p>{{member.jobTitle}}</p>
								<p>{{member.companyName}}</p>
							</div>
							<div class="member-detail col-md-7 col-xs-12">
								<button ng-if="!member.introduction && member.invitedMail == vm.account.email" class="btn custom-btn challenge-link" ui-sref="settings">Complete your profile</button>
								<div class="member-description">{{member.introduction}}</div>
								<div class="member-skill" ng-repeat="skill in member.skills track by $index">
									<span class="skill-badge">{{skill}}</span>
								</div>
							</div>
						</div>
						<div ng-if="!member.id">
							<div class="member-avatar col-md-2 col-xs-12">
								<img ng-src="content/images/default/no_avatar.png" width="100" height="100">
							</div>
							<div class="member-info col-md-10 col-xs-12">
								<!-- <p> -->
								<strong>Pending invitation to</strong>
								<!-- </p> -->
								<p>{{member.jobTitle}}</p>
								<p>{{member.invitedMail}}</p>
							</div>

						</div>
					</div>

					<!--======== other info ============-->
					<div class="horizontal-card">
						<div class="team-description">
							<h3 data-translate="hackathonApp.applicationslist.detail.description">Team Description</h3>
							<p>{{vm.application.description}}</p>
						</div>
						<div class="team-motivation">
							<h3 data-translate="hackathonApp.applicationslist.detail.motivation">Team Motivation</h3>
							<p>{{vm.application.motivation}}</p>
						</div>
						<div class="team-conclusion">
							<h3 data-translate="hackathonApp.applicationslist.detail.ideasDescription">Ideas Description</h3>
							<p>{{vm.application.ideasDescription}}</p>
						</div>
						<button ng-if="vm.application.status != 'APPROVED'" class="btn custom-btn" ui-sref="team({id:vm.application.challengeId})" data-translate="hackathonApp.applicationslist.detail.editApplication">Edit your application</button>
					</div>
				</div>
			</div>
			<div class="col-md-1 hidden-xs"></div>
			<!--======== challenge and application progress ============-->
			<div class="application-progress col-md-3 col-xs-12 horizontal-card">
				<div style="background-image:url({{vm.challenge.bannerUrl}})" class="challenge-banner"></div>
				<div>
					<p class="application-sub-title" data-translate="hackathonApp.applicationslist.challengeInfo.challenge">You are applying to _</p>
					<h3 class="challenge-name">{{vm.challenge.name}}</h3>
				</div>
				<div>
					<p class="application-sub-title" data-translate="hackathonApp.applicationslist.challengeInfo.deadline">Application deadline _</p>
					<span>{{vm.challenge.info.eventEndTime | date}}</span>
				</div>
				<div>
					<p class="application-sub-title" data-translate="hackathonApp.applicationslist.challengeInfo.progress">Application Readiness _</p>
					<md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
				</div>
				<!-- team validation -->
				<div class="progress-step" ng-repeat="validation in vm.validations">
					<span>{{ validation[0] }}</span>
					<span ng-switch="{{ validation[1] }}">
						<i class="material-icons green" ng-switch-when="true" ng-init="vm.progressCount()">check</i>
						<i class="material-icons red" ng-switch-when="false">close</i>
					</span>
				</div>

				<div>
					<h3 data-translate="hackathonApp.applicationslist.challengeInfo.status.heading">This application is</h3>
					<div ng-switch="vm.determinateValue === 100">
						<div ng-switch-when="true" class="application-status application-valid">
							<i class="material-icons">thumb_up</i>
							<span data-translate="hackathonApp.applicationslist.challengeInfo.status.valid">Valid</span>
						</div>
						<div ng-switch-when="false" class="application-status application-invalid">
							<i class="material-icons">thumb_down</i>
							<span data-translate="hackathonApp.applicationslist.challengeInfo.status.invalid">Invalid</span>
						</div>
						<div class="text-center" data-translate="hackathonApp.applicationslist.challengeInfo.additionalText">After the deadline the application will be screened</div>
					</div>
				</div>
				<div>
					<button class="btn custom-btn challenge-link" ui-sref="challengeslist" data-translate="hackathonApp.applicationslist.challengeInfo.challengePage">VIEW THE CHALLENGE PAGE</button>
				</div>
				<!--======== approve/reject buttons ============-->
				<div ng-show="vm.isAuthenticated()" has-authority="ROLE_ADMIN">
					<div class="action-btn-group">
						<button class="action-btn approve-btn" ng-click="vm.approve(vm.application)" data-translate="hackathonApp.applicationslist.challengeInfo.approve">APPROVE</button>
						<button class="action-btn reject-btn" ng-click="vm.reject(vm.application)" data-translate="hackathonApp.applicationslist.challengeInfo.reject">REJECT</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>