<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="Home">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Welcome to challenge workspace</h1>
                    <p>{{vm.workspace.termsAndConditions}}</p>
                    <md-button class="md-primary md-raised">Update News</md-button>
                </md-content>
                <form ng-show="vm.askClicked" class="md-padding" flex="50">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Subject</label>
                            <input ng-model="vm.challenge.maxTeamNumber" required/>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Content</label>
                            <textarea name="timelineText" ng-model="vm.challenge.timelineText" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
                        </md-input-container>
                    </div>
                    <md-button class="md-primary md-raised">Submit</md-button>
                </form>
            </md-tab>
            
            <md-tab label="Feedback">
                <md-content class="md-padding">
                    
                </md-content>
            </md-tab>
            <md-tab label="Terms">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Terms</h1>
                    <p>{{vm.workspace.termsAndConditions}}</p>
                    <md-button class="md-primary md-raised" ui-sref="workspace-manager.edit">Edit Terms</md-button>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>