<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 data-translate="reset.finish.title"></h1>

            <div class="alert alert-danger" data-translate="reset.finish.messages.keymissing" ng-show="vm.keyMissing">
            </div>

            <div class="alert alert-warning" ng-hide="vm.success || vm.keyMissing">
                <p data-translate="reset.finish.messages.info"></p>
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <p data-translate="reset.finish.messages.error"></p>
            </div>

            <div class="alert alert-success" ng-show="vm.success">
                <p data-translate="reset.finish.messages.success" translate-compile></p>
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
            </div>

            <div ng-hide="vm.keyMissing">
                <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.finishReset()" show-validation>
                    <div class="form-group">
                        <label class="control-label" for="password" data-translate="global.form.newpassword"></label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="vm.resetAccount.password" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                            </p>
                        </div>
                        <password-strength-bar password-to-check="vm.resetAccount.password"></password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="confirmPassword" data-translate="global.form.confirmpassword"></label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                            </p>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" data-translate="reset.finish.form.button"></button>
                </form>
            </div>

        </div>
    </div>
</div>
