<div ng-hide="vm.application.status === 'CLOSED'" ng-class="{rejected:vm.application.status === 'REJECTED'}">
    <div class="rejected-stamp">
        <div class="application-heading jumbotron-fluid">
            <h1>{{vm.application.teamName}}</h1>
            <h3>{{vm.application.companyName}}</h3>
        </div>

        <div class="row content-wrapper">
            <div class="team-info col-md-8 col-xs-12">
                <div class="card-wrapper">
                    <!--======== member card ============-->
                    <div class="member-wrapper horizontal-card row" ng-repeat="member in vm.members" >
                        <div ng-if="member.id">
                            <div class="member-avatar col-md-2 col-xs-12">
                                <img ng-if="member.logoUrl" ng-src="{{member.logoUrl}}" width="100" height="100">
                                <img ng-if="!member.logoUrl" ng-src="content/images/default/no_avatar.png" width="100" height="100">
                            </div>
                            <div class="member-info col-md-3 col-xs-12">
                                <p>
                                    <strong>{{member.firstName}}</strong>
                                </p>
                                <p>{{member.jobTitle}}</p>
                                <p>{{member.invitedMail}}</p>
                            </div>
                            <div class="member-detail col-md-7 col-xs-12">
                                <div class="member-description">{{member.introduction}}</div>
                                <div class="member-skill" ng-repeat="skill in member.skills track by $index">
                                    <span class="skill-badge">{{skill}}</span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!member.id">
                            <div class="member-avatar col-md-2 col-xs-12">
                                <img ng-src="content/images/default/no_avatar.png" width="100" height="100">
                            </div>
                            <div class="member-info col-md-10 col-xs-12">
                                <!-- <p> -->
                                    <strong>Pending invitation to</strong>
                                <!-- </p> -->
                                <p>{{member.jobTitle}}</p>
                                <p>{{member.invitedMail}}</p>
                            </div>
                            
                        </div>
                    </div>
                    <!--======== other info ============-->
                    <div class="horizontal-card">
                        <div class="team-description">
                            <h3 data-translate="hackathonApp.applicationslist.detail.description">Team Description</h3>
                            <p>{{vm.application.description}}</p>
                        </div>
                        <div class="team-motivation">
                            <h3 data-translate="hackathonApp.applicationslist.detail.motivation">Team Motivation</h3>
                            <p>{{vm.application.motivation}}</p>
                        </div>
                        <div class="team-conclusion">
                            <h3 data-translate="hackathonApp.applicationslist.detail.ideasDescription">Ideas Description</h3>
                            <p>{{vm.application.ideasDescription}}</p>
                        </div>
                    </div>
                </div>
                <!--======== login or signup ============-->
                <section class="login-signup-wrapper" style="padding: 1em 0em 1em 1em; background: none" ng-cloak>
                    <div class="login-header">
                        <h3 class="text-center">Login or sign up to accept invitation</h3>
                        <div class="alert alert-success" ng-show="vm.success" data-translate="loginsignup.messages.success">
                            <strong>Registration saved!</strong> Please check your email for confirmation.
                        </div>
                        <div class="alert alert-danger" ng-show="vm.error" data-translate="loginsignup.messages.error.fail">
                            <strong>Registration failed!</strong> Please try again later.
                        </div>
                        <div class="alert alert-danger" ng-show="vm.errorUserExists" data-translate="loginsignup.messages.error.userexists">
                            <strong>Login name already registered!</strong> Please choose another one.
                        </div>
                        <div class="alert alert-danger" ng-show="vm.errorEmailExists" data-translate="loginsignup.messages.error.emailexists">
                            <strong>E-mail is already in use!</strong> Please choose another one.
                        </div>
                        <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
                            The password and its confirmation do not match!
                        </div>
                    </div>

                    <div ng-show="!vm.success" id="form-wrapper" class="row">

                        <!-- Signup form -->
                        <div class="signup-form-wrapper col-md-6 col-lg-6">
                            <div class="row">
                                <form name="signupForm" class="col s12" role="form" id='signup-form' ng-show="!vm.success" name="form" role="form" novalidate
                                    ng-submit="vm.register()">

                                    <div class="form-heading">
                                        <h4 data-translate="loginsignup.form.headers.signup">Start by creating your account</h4>
                                    </div>
                                    <!-- Full name -->
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label data-translate="loginsignup.form.fullName">Name</label>
                                        <input name="fullName" id="fullName" ng-model="vm.registerAccount.login" ng-maxlength=50 required>
                                        <div ng-messages="signupForm.fullName.$error" role="alert">
                                            <div ng-message="required" data-translate="loginsignup.messages.validate.fullName.required"></div>
                                        </div>
                                    </md-input-container>
                                    <!-- Email -->
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label data-translate="loginsignup.form.email">Email</label>
                                        <input name="email" type="email" ng-model="vm.registerAccount.email" ng-maxlength=50 required>
                                        <div ng-messages="signupForm.email.$error" role="alert">
                                            <div ng-message="required" data-translate="loginsignup.messages.validate.email.required"></div>
                                            <div ng-show="signupForm.email.$error.email" data-translate="loginsignup.messages.validate.email.pattern"></div>
                                        </div>
                                    </md-input-container>
                                    <!-- Password -->
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label data-translate="loginsignup.form.password">Password*</label>
                                        <input name="password" type="password" ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
                                        <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                                        <div ng-messages="signupForm.password.$error" role="alert">
                                            <div ng-message="required" data-translate="loginsignup.messages.validate.password.required"></div>
                                            <div ng-message="minlength" ng-show="signupForm.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                                                Your password is required to be at least 4 characters.</div>
                                            <div ng-message="maxlength" ng-show="signupForm.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                                                Your password cannot be longer than 50 characters.</div>
                                        </div>
                                    </md-input-container>
                                    <!-- Confirm password -->
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label data-translate="loginsignup.form.confirmpassword">Confirm password*</label>
                                        <input name="confirmPassword" type="password" ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                                        <div ng-messages="signupForm.confirmPassword.$error" role="alert">
                                            <div ng-message="required" data-translate="loginsignup.messages.validate.confirmpassword.required"></div>
                                        </div>

                                    </md-input-container>
                                    <div>
                                        <p data-translate="loginsignup.form.signupterm">By creating an account you agree to our
                                            <a href="#">Terms</a> and that you have read our
                                            <a href="#">Privace Policy</a>
                                        </p>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block" data-translate="loginsignup.buttons.signup">Create account</button>

                                </form>
                            </div>
                        </div>

                        <!-- Login Form -->
                        <div class="login-form-wrapper ml-auto col-md-6 col-lg-6" ng-switch="vm.isAuthenticated() && vm.isInvitedMail">
                            <form ng-switch-when="false" class="form" role="form" ng-submit="vm.login($event)" id='login-form'>
                                <div class="form-group">
                                    <label for="username" data-translate="global.form.username">Login</label>
                                    <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                                </div>
                                <div class="form-group">
                                    <label for="password" data-translate="login.form.password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                        ng-model="vm.password">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block" data-translate="login.form.button">Sign in</button>
                            </form>

                            <form ng-switch-when="true" name="logged-in" role="form" id='login-form' ng-show="!vm.success" name="form" role="form" novalidate
                                ng-submit="vm.acceptInvite()" show-validation>
                                <div class="form-heading">
                                    <h4>Login with existing account</h4>
                                    <p>You are already logged in so you just need to click the button to accept this team invite!</p>
                                </div>
                                <button type="submit" class="btn btn-warning btn-block">Accept team invite</button>
                            </form>
                            <!-- <p></p>
                    <p class="text-center">OR</p> -->
                            <form name="decline" role="form" id='login-form' ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.declineInvite()"
                                show-validation>
                                <div class="form-heading">
                                    <h4>Decline request</h4>
                                    <p>You can also decline this request, if you do not want to join this team. Once invitation
                                        is declined you can not claim it anymore.</p>
                                </div>
                                <button type="submit" class="btn btn-danger btn-block">Decline request</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-1 hidden-xs"></div>

            <!--======== challenge and application progress ============-->
            <div class="application-progress col-md-3 col-xs-12 horizontal-card">
                <div style="background-image:url({{vm.challenge.bannerUrl}})" class="challenge-banner"></div>
                <div>
                    <p class="application-sub-title" data-translate="hackathonApp.applicationslist.challengeInfo.challenge">You are applying to _</p>
                    <h3 class="challenge-name">{{vm.challenge.name}}</h3>
                </div>
                <div>
                    <p class="application-sub-title" data-translate="hackathonApp.applicationslist.challengeInfo.deadline">Application deadline _</p>
                    <span>{{vm.challenge.info.eventEndTime | date}}</span>
                </div>
                <div>
                    <p class="application-sub-title" data-translate="hackathonApp.applicationslist.challengeInfo.progress">Application Readiness _</p>
                    <md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
                </div>
                <!-- team validation -->
                <div class="progress-step" ng-repeat="validation in vm.validations">
                    <span>{{ validation[0] }}</span>
                    <span ng-switch="{{ validation[1] }}">
                        <i class="material-icons green" ng-switch-when="true" ng-init="vm.progressCount()">check</i>
                        <i class="material-icons red" ng-switch-when="false">close</i>
                    </span>
                </div>

                <div>
                    <h3 data-translate="hackathonApp.applicationslist.challengeInfo.status.heading">This application is</h3>
                    <div ng-switch="vm.determinateValue === 100">
                        <div ng-switch-when="true" class="application-status application-valid">
                            <i class="material-icons">thumb_up</i>
                            <span data-translate="hackathonApp.applicationslist.challengeInfo.status.valid">Valid</span>
                        </div>
                        <div ng-switch-when="false" class="application-status application-invalid">
                            <i class="material-icons">thumb_down</i>
                            <span data-translate="hackathonApp.applicationslist.challengeInfo.status.invalid">Invalid</span>
                        </div>
                        <div class="text-center" data-translate="hackathonApp.applicationslist.challengeInfo.additionalText">After the deadline the application will be screened</div>
                    </div>
                </div>
                <div>
                    <a class="btn custom-btn challenge-link" target="_blank" ui-sref="challengeslist-detail({id: vm.challenge.id})">VIEW THE CHALLENGE PAGE</a>
                </div>
            </div>
        </div>
    </div>
</div>