<nav class="navbar navbar-default" role="navigation" id="main-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" />
                <span data-translate="global.title">Hackathon</span>
                <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <!-- Challenges, should be linked to challenges view? -->
                <li ui-sref-active="active" class="nav-item">
                    <a ui-sref="challengeslist" ng-click="vm.collapseNavbar()" class="align-center">
                        <span class="glyphicon glyphicon-flag"></span>
                        <span class="hidden-sm" data-translate="global.menu.challenge">Challenges</span>
                    </a>
                </li>
                <!-- become a host -->
                <li has-authority-except="ROLE_HOST" ui-sref-active="active" class="nav-item" ng-hide="vm.isAuthenticated()">
                    <a ui-sref="host-application" ng-click="vm.collapseNavbar()" class="align-center">
                        <span class="glyphicon glyphicon-tower"></span>
                        <span class="hidden-sm" data-translate="global.menu.becomeHost">Become a Host</span>
                    </a>
                </li>
                <!-- Manage Challenge (need to change ui-sref to link to challenges list view for admin/manager)-->
                <li ui-sref-active="active" ng-switch-when="true" has-authority="ROLE_HOST" class="nav-item">
                    <a ui-sref="challenge-manager" ng-click="vm.collapseNavbar()" id="admin-menu" class="align-center">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="hidden-sm" data-translate="global.menu.manageChallenges">Manage challenges</span>
                    </a>
                </li>

                <!-- <li ui-sref-active="active" ng-switch-when="true" has-authority="ROLE_HOST" class="nav-item" uib-dropdown class="dropdown pointer nav-item">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                            <span>
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                                    Manage
                                </span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ui-sref-active="active">
                                <a ui-sref="user-list" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Challenges</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="user-info" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Questions</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="company" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Feedback</span>
                                </a>
                            </li>
                           
                        </ul>
                    </li> -->

                <!-- Manage -->
                <!-- <li ui-sref-active="active" ng-switch-when="true" has-authority="ROLE_HOST" uib-dropdown class="dropdown pointer nav-item"
                    class="nav-item">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="hidden-sm">Manage</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="challenge-manager" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Challenges</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="challenge-question" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Questions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="challenge-feedback" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Feedback</span>
                            </a>
                        </li>

                    </ul>

                </li> -->

                <li ui-sref-active="active" ng-switch-when="true" has-authority="ROLE_ADMIN" class="nav-item">
                    <a ui-sref="company" ng-click="vm.collapseNavbar()" id="admin-menu" class="align-center">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="hidden-sm" data-translate="global.menu.company">Company</span>
                    </a>
                </li>

                <!-- Languages -->
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer nav-item" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 0">
                        <span class="glyphicon glyphicon-globe"></span>
                        <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 0">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a style="height: 30px;" href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
                <!-- Login -->
                <li ui-sref-active="active" ng-switch-when="false" class="nav-item">
                    <a ui-sref="login-signup" id="login" class="align-center">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <span data-translate="global.menu.account.login">Login</span>
                    </a>
                </li>
                <!-- Logout -->
                <li ui-sref-active="active" ng-switch-when="true" class="nav-item">
                    <a href="" ng-click="vm.logout()" class="align-center">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span data-translate="global.menu.account.logout">Logout</span>
                    </a>
                </li>
                <!-- Small avatar should have linked to account details-->
                <li ui-sref-active="active" class="dropdown" uib-dropdown ng-switch-when="true" class="nav-item">
                    <a href="" uib-dropdown-toggle ng-disabled="disabled" class="nav-menu" id="avatar">
                        <img class="img-circle" width="22" height="22" ng-src="{{'content/images/logo-jhipster.png'}}" />
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="ls">
                        <a>
                            <span ui-sref-active="active">
                                <a ui-sref="settings" ui-sref-opts="{reload: true}" class="dropdown-item" data-translate="global.menu.accountSetting" has-authority-except="ROLE_HOST">Account Setting</a>
                            </span>
                        </a>

                        <a>
                            <span ui-sref-active="active">
                                <a ui-sref="user-management-detail({login: vm.account.login})" ui-sref-opts="{reload: true}" class="dropdown-item" data-translate="global.menu.accountDetail"
                                    has-authority-except="ROLE_HOST">Account Detail</a>
                            </span>
                        </a>

                        <a>
                            <span ui-sref-active="active">
                                <a has-authority="ROLE_ADMIN" ui-sref="user-management" ui-sref-opts="{reload: true}" class="dropdown-item" data-translate="global.menu.manageUser">Manage User</a>
                            </span>
                        </a>

                        <a>
                            <span ui-sref-active="active">
                                <a has-authority="ROLE_ADMIN" ui-sref="docs" ui-sref-opts="{reload: true}" class="dropdown-item">API</a>
                            </span>
                        </a>
                    </div>
                </li>


            </ul>
        </div>
    </div>
    <div class="container text-right">
        <span data-translate="global.timeServer"></span>
        <span time-server="'dd/MM/yyyy - HH:mm:ss'"></span>
    </div>
</nav>