<nav class="navbar navbar-default" role="navigation" id="main-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png"/>
                <span data-translate="global.title">Hackathon</span>
                <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <!-- Challenges, should be linked to challenges view? -->
                <li ui-sref-active="active" class="nav-item">
                    <a ui-sref="challengeslist" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-flag"></span>&nbsp;
                        <span class="hidden-sm">Challenges</span>
                    </a>
                </li>
                 <!-- Manage Challenge (need to change ui-sref to link to challenges list view for admin/manager)-->
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer nav-item">
                    <a ui-sref="challenge-manager" ng-click="vm.collapseNavbar()" id="admin-menu">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;
                        <span class="hidden-sm">Manage challenges</span>
                    </a>
                </li>
                <!-- Login -->
                <li ui-sref-active="active" ng-switch-when="false" class="nav-item">
                    <a ui-sref="login-signup" ng-click="vm.login()" id="login">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                        <span data-translate="global.menu.account.login">Login</span>
                    </a>
                </li>
                <!-- Logout -->
                <li ui-sref-active="active" ng-switch-when="true" class="nav-item">
                    <a href="" ng-click="vm.logout()">
                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                        <span data-translate="global.menu.account.logout">Logout</span>
                    </a>
                </li>

               <!-- Small avatar should have linked to account details-->
                <li class="dropdown" uib-dropdown ng-switch-when="true" class="nav-item">
                    <a href="" uib-dropdown-toggle ng-disabled="disabled" class="nav-menu" id="avatar"><img class="img-circle" width="22" height="22" ng-src="{{'content/images/logo-jhipster.png'}}" /></a>
                    <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="ls">
                        <a><span ui-sref-active="active"><a ui-sref="settings" ui-sref-opts="{reload: true}" class="dropdown-item">Account Setting</a></span></a>
                        <a><span ui-sref-active="active"><a ui-sref="user-management-detail({login: vm.account.login})" ui-sref-opts="{reload: true}" class="dropdown-item">Account Detail</a></span></a>
                        <a has-authority="ROLE_ADMIN"><span ui-sref-active="active"><a ui-sref="user-management" ui-sref-opts="{reload: true}" class="dropdown-item">Manage User</a></span></a>
                        <a><span ui-sref-active="active"><a ui-sref="application" ui-sref-opts="{reload: true}" class="dropdown-item">My Applications</a></span></a>
                        <a has-authority="ROLE_ADMIN"><span ui-sref-active="active"><a ui-sref="docs" ui-sref-opts="{reload: true}" class="dropdown-item">API</a></span></a>
                    </div>
                </li>

                <li ui-sref-active="active" uib-dropdown class="dropdown pointer nav-item" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
