
/*============ General style ==============*/
@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');

h1,h2,h3,h4,h5,h6 {
  font-family: 'Righteous', cursive;
}

.main-content {
  display: flex;
  min-height: calc(100vh - 120px);
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.card {
  flex: 1 0 auto;
}

button { /*quick fix close button inside md-autocomplete input*/
  background-color: transparent;
  border: none;
}
/*============ Login and signup view ==============*/

.login-signup-wrapper {
  width: 100%;
  border-radius: 5px;
  padding: 5em 3em;
  background: #fefefe;
}

#signup-form,
#login-form {
  margin-top: 1em;
  padding: 3em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-heading {
  margin-bottom: 2em;
}

.forgot-password {
  float: right;
  margin-bottom: 1em;
}

#signup-form div.ng-scope {
  font-size: 12px;
}

/*============= navbar ==============*/
#main-nav {
  border: none;
  /*background-color: #fefefe;*/
  box-shadow: 0 5px 10px #ccc;
  width: 100%;
  height: 60px;
  border-radius: 0px;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-item {
  text-align: center;
  text-decoration: none;
  color: #777;
  display: block;
  padding: 15px;
}

.dropdown-item:hover{
  background-color: #eee;
  text-decoration: none;
}

.nav-item {
  margin: 0 3px;
}

.nav-item,
.nav-item a,
#avatar {
  height: 60px;
}

.nav-item a span,
#avatar img {
  position: relative;
  top: 5px;
}

.nav-item:hover,
.nav-item:active {
  background: #e7e7e7;
}

a.align-center {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.align-center span:first-child {
  padding: 0 2px;
  position: relative;
  top: 6px;
}

/*============= navbar ==============*/
.footer {
  background: #fefefe;
  box-shadow: 0 -5px 10px #ccc;
  height: 60px;
}

#copyright {
  float: right;
  position: relative;
  top: 18px;
}

#logo-footer {
  position: relative;
  width: 100px;
  top: 13px;
}

/*============= challenge list ==============*/
.challenge-container {
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  position: relative;
}

.challenge-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px #333;
  cursor: pointer;
  position: relative;
  z-index: 333;
}

.challenge-banner {
  filter: grayscale(0.1) sepia(0.1);
}
.challenge-container:hover .challenge-banner {
  filter: grayscale(0) sepia(0);
}

.challenge-title {
  font-weight: bold;
  padding-bottom: 0;
  font-size: 20px;
  background: transparent;
}

.challenge-owner {
  padding: 0 16px;
}

.challenge-content {
  padding: 0;
}

.line {
  height: 5px;
  width: calc(100% - 32px);
  margin: 10px auto 0;
  background: #ccc;
}

.list-item {
  display: flex;
}

.list-item i,
.list-item span {
  align-self: center;
}

.challenge-icon {
  position: relative;
  margin-right: 15px;
  display: inline;
}

.challenge-cta {
  border-radius: 1px;
  box-shadow: 2px 2px 2px #ccc;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
}

.challenge-cta a {
  color: #F5EFFF;
  display: block;
  padding: 6px 12px;
}

.challenge-cta a:hover {
  text-decoration: none;
}

.btn-active {
  background: #C04444;
}

.btn-applied {
  background: #297373;
}

.btn-inactive {
  background: #E6E6E6;
}

.btn-inactive a {
  color: #39393A;
}

/*Filters*/
.status-checkbox {
  display: inline-block;
  float: left;
  padding-right: 2em;
  margin-top: .7em;
}

.date-filter {
  display: flex;
  justify-content: space-between;
}
.date-picker-filter {
  position: relative;
  top: .7em;
}

.md-padding {
  overflow: hidden;
}

/*============== challenge details ==============*/
.banner {
  height: 500px;
  position: relative;
  margin: 0;
/*  background-color: #176060;*/
  background-size: cover;
  box-shadow: inset 0 -1px 100px #111;
}

.challenge-detail-wrapper {
  margin: 0;
  position: relative;
}

.challenge-detail-content {
  position: relative;
}

.fixBox {
  left: 0;
}

.side-info,
.side-subscribe {
  background: #fff2f2;
  color: #C2185B;
  padding: 0;
  font-size: 15px;
  box-shadow: inset 0 0px 5px #E91E63;
}

.side-info hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #C2185B;
  margin: 1em 0;
  padding: 0;
}

.info-wrapper {
  padding: 1em;
}

.sidebarFix {
  position: fixed;
  top: 0;
  -webkit-transform: translateZ(0);
  width: 400px;
}

.side-wrapper {
  padding: 0;
}

.side-info>h3 {
  color: #C2185B;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
  font-weight: bold;
  background: repeating-linear-gradient(45deg, #aaa, #aaa 30px, #C2185B 60px, #C2185B 120px) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textFill 5s linear forwards;
  -webkit-animation: textFill 5s linear forwards;
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

@keyframes textFill {
  0% { background-position: -318px; }
  100% { background-position: 0px; }
}

.side-icons {
  vertical-align: middle;
  margin-right: 1em;
  font-size: 2em;
}

.cta-btn a{
  display: block;
  text-decoration: none;
  color: #fefefe;
  font-weight: bold;
}

.cta-btn {
  background-color: #E91E63;
  width: 100%;
  border: none;
  padding: 0.5em 0;
}

.side-subscribe {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
}

.side-wrapper h3+.line{
  position: relative;
  top: -0.3em;
  margin-bottom: .5em;
}

.subscribe-btn {
  background-color: #E91E63;
  color: #fefefe;
  font-weight: bold;
}

.subscribe-btn:hover {
  cursor: pointer;
}

.challenge-detail-header{
  margin: 2em auto;
}

.challenge-detail-header>h5{
  font-size: 1.618em;
  position: relative;
  top: -.8em;
  color: #ccc;
  letter-spacing: 2px;
  font-weight: lighter;
}

/*============= Applications List View ================*/
.application-card {
  color: #fefefe;
  transition: all .5s ease-in-out;
  margin-bottom: 3em;
}

.application-card:hover {
  transform: translateZ(5px) translateY(-5px);
  box-shadow: 0 5px 10px #ccc;
  cursor: pointer;
}

.team-name {
  background-color: #E91E63;
  text-transform: uppercase;
}

.team-name>h3 {
  display: block;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.company-name {
  background-color: #C2185B;
  text-align: center;
}

.application-description {
  color: #222;
  padding: 1em;
}

.go-detail {
  text-decoration: none;
  color: #C2185B;
}

.action-btn-group {
  display: flex;
  justify-content: space-between;
  /* padding: 1em; */
  margin: 0;
  color: #fefefe;
}


.action-btn {
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

.approve-btn {
  box-shadow: 0 0 3px #4CAF50;
  background: transparent;
  color: #4CAF50;
}

.reject-btn {
  box-shadow: 0 0 3px #E53935;
  background: transparent;
  color: #E53935;
}

.action-btn:active,
.action-btn:hover {
  box-shadow: 0 0 13px;
  outline: none;
  opacity: 0.8;
}

.btn-small {
  margin: 0;
  transform: scale(0.8);
  box-shadow: none;
}

.btn-small:active,
.btn-small:hover {
  box-shadow: none;
  transform: scale(1.5);
  text-shadow: 1px 1px 1px;
}

.search-panel {
  padding: 0;
  margin: 2em 0;
  width: 300px;
  border-bottom: 1px solid #eee;
}

.searchBox {
  background-color: transparent;
  color: #eee;
}

.custom-jumbotron {
  background: linear-gradient(45deg, #E91E63 50%, #C2185B 50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 5em;
}

.searchBox input::-webkit-input-placeholder {
    color: #eee;
}

/*============= Applications detail View ================*/
.application-heading {
  background-color: #E91E63;
  color: #fefefe;
  padding: 1em;
}

.content-wrapper {
  margin: 0;
  padding: 0;
}

.team-info,
.application-progress {
  padding: 0;
}

.horizontal-card {
  padding: 2em;
  margin: 1em 0;
  box-shadow: 0 0 5px #ccc;
}

.member-avatar {
  text-align: center;
}

.member-skill {
  display: inline-flex;
  margin: 2px;
}

.skill-badge {
  display: inline-block;
  padding: 2px 1em;
  font-size: 12px;
  background: #1565C0;
  border-radius: 5px;
  color: #fefefe;
  white-space: wrap;
}

.horizontal-card:nth-child(odd) .skill-badge {
  background: #F50057;
}

.challenge-banner {
  height: 100px;
  background-size: cover;
  margin-bottom: 1em;
}

.challenge-name {
  margin-top: -5px;
  color: #E91E63;
}

.application-sub-title {
  margin: 1em auto 0;
  font-weight: bold;
}

.application-sub-title+span {
  color: #E91E63;
  font-weight: bold;
}

md-progress-linear .md-container {
  background-color: rgba(233, 30, 99, 0.1);
  border-radius: 5px;
}

md-progress-linear .md-bar {
  background-color: #E91E63;
  border-radius: 5px;
}

.progress-step {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  border-bottom: 1px solid rgba(233, 30, 99, 0.1);
}

.progress-step i {
  margin: 0;
}

.application-status {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.application-status i,
.application-status span {
  font-size: 3em;
  align-self: center;
}

.application-valid,
.green {
  color: #1B5E20;
}

.application-invalid,
.red {
  color: #B71C1C;
}

.custom-btn {
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  transition: all .2s ease-in-out;
}

.custom-btn:active,
.custom-btn:hover {
  border-radius: 30px;
  box-shadow: 0 0 15px #ccc;
}

.challenge-link {
  margin: 3em auto;
  width: 100%;
}

.rejected-stamp:after {
  border: solid 0.1em #d00;
  border-radius: .2em;
  color: #d00;
  content: 'REJECTED';
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 30vh;
  padding: .1em .5em;
  margin: 0 auto;
  text-transform: uppercase;
  opacity: 0;
  transform-origin: 50% 50%;
  transform: rotate(-15deg);
  transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.rejected .rejected-stamp:after {
  opacity: .75;
  z-index: 333;
}


.approved-stamp:after {
  border: solid 0.1em green;
  border-radius: .2em;
  color: green;
  content: 'APPROVED';
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 30vh;
  padding: .1em .5em;
  margin: 0 auto;
  text-transform: uppercase;
  opacity: 0;
  transform-origin: 50% 50%;
  transform: rotate(-15deg);
  transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.approved .approved-stamp:after {
  opacity: .75;
  z-index: 333;
}

/*============ Become a Host =================*/

.form-wrapper {
  max-width: 700px;
  margin: 3em auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-wrapper form {
  padding: 3em;
}

/*ADIITIONAL*/
.marginTop {
  margin-top: 3em;
}
