html, body {
  min-height: 100vh;
  margin: 0;
}

/*============ Login and signup view ==============*/

.login-signup-wrapper {
  width: 100%;
  border-radius: 5px;
  padding: 5em 3em;
  background: #fefefe;
}

#signup-form, 
#login-form {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-heading {
  margin-bottom: 2em;
}

.forgot-password {
  float: right;
  margin-bottom: 1em;
}

/*============= navbar ==============*/
.navbar {
  background-color: #fefefe;
  box-shadow: 0 2px 2px #ccc;
  font-size: 17px; 
  font-weight: bold;
  width: 100%;
}
.dropdown-menu {
  padding: 0;
}
.dropdown-item {
  text-align: center;
  text-decoration: none;
  color: #777;
  display: block;
  padding: 15px;
}
.dropdown-item:hover{
  background-color: #eee;
  text-decoration: none;
}



/*============= navbar ==============*/
.footer {
  background: #fefefe;
  box-shadow: 0 -2px 2px #ccc;
  width: 100%;
  max-height: 65px;
  position: fixed;
  bottom: 0;
  padding: 10px 0px;
  margin-top: -100px;
}

#copyright {
  float: right;
  position: relative;
  top: 8px;
}

#logo-footer {
  position: relative;
  width: 100px;
  top: 3px;
}