
.main-content {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
}

h2{
    margin-top:  5px;
    font-weight: 700;
    font-size: 4.5rem;
}

/* Overide angular material */

#birthday .md-datepicker-input-container{
    width: 100% !important;
}

.md-card>:not(md-card-content) img, md-card>img {
    height: 180px !important;
    object-fit: cover;
}

md-card md-card-title{
    padding: 10px;
    background-color: #d0f7ab;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

md-card md-card-title md-card-title-text:only-child .md-subhead{
    padding: 0;
}

md-autocomplete .md-show-clear-button button{
    position: relative;
    line-height: 20px;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 0;
    font-size: 12px;
    background: transparent;
    margin: auto 5px;
}

.md-tab {
    text-transform: none;
    text-overflow: initial;
}

.md-headline{
    font-size: 20px;
}

/* Additional */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/ 
    -webkit-border-radius: 10px;
    background-color:transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#CAC8C8; 
    /* -webkit-box-shadow: inset 0 0 6px rgba(190, 179, 179, 0.5);  */
}

