/* Overide angular material */

#datepicker .md-datepicker-input-container{
    width: 100% !important;
    overflow: hidden;
}

.md-card>:not(md-card-content) img, md-card>img {
    height: 180px !important;
    object-fit: cover;
}

md-card md-card-title{
    padding: 10px;
    background-color: #d0f7ab;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

md-card md-card-title md-card-title-text:only-child .md-subhead{
    padding: 0;
}

md-dialog{
    box-shadow: none;
}

/* .md-tab {
    text-transform: none;
    text-overflow: initial;
} */

.md-headline{
    font-size: 18px;
    white-space: nowrap;
}



.md-datepicker-input{
    max-width: none;
}

/* Increase visible width of md-chip input */


.md-chips .md-chip-input-container input:not([type]), .md-chips .md-chip-input-container input[type="email"], .md-chips .md-chip-input-container input[type="number"], .md-chips .md-chip-input-container input[type="tel"], .md-chips .md-chip-input-container input[type="url"], .md-chips .md-chip-input-container input[type="text"]{
    min-width: 250px;
}

/* Navbar */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: rgb(250,250,250);
}
