/* Overide angular material */

#birthday .md-datepicker-input-container{
    width: 100% !important;
    overflow: hidden;
}

.md-card>:not(md-card-content) img, md-card>img {
    height: 180px !important;
    object-fit: cover;
}

md-card md-card-title{
    padding: 10px;
    background-color: #d0f7ab;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

md-card md-card-title md-card-title-text:only-child .md-subhead{
    padding: 0;
}

md-autocomplete .md-show-clear-button button{
    position: relative;
    line-height: 20px;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 0;
    font-size: 12px;
    background: transparent;
    margin: auto 5px;
}

md-dialog{
    box-shadow: none;
}

.md-tab {
    text-transform: none;
    text-overflow: initial;
}

.md-headline{
    font-size: 20px;
}
